body{
    margin: 0;
  font-family: "verdana";
    background:#594251;
  ;
  }
  
  header{
    height: 60px;
    background:#090526;
    font-size: 16px;
    color:#888797;
    line-height: 60px;
    padding-left:15px;
    text-align: center;
   
  }
  
  main{
    height: 800px;
    padding-top: 32px;
  }
  
  h1,h2{
    text-align: center;
    font-weight: 530;
    color: #090526;
  }
  h2{
    font-size: 16px;
    color:#090526;
    margin-bottom: 32px;
  }
  
  
  
  .link-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
  }
  
  .link-table td {
    padding: 20px;
    background: #BF6F76;
  }
  
  .link-table a {
    color: #21203b;
    text-decoration: none;
    font-size: 18px;
    display: column;
    padding: 20px;
  }
  
  .link-table td:hover {
    background: #dec37a;
  }
  
  .text-box {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background: #cacadb;
    text-align: center;
  }
  
  .text-box h3 {
    font-size: 24px;
    color: #21203b;
    margin-bottom: 10px;
  }
  
  .text-box p {
    font-size: 16px;
    color: #21203b;
    line-height: 1.6;
  }
  
  
  
  footer{
    height: 100px;
    background: #090526;
  }
